body {
  text-align: center;
  margin: 0;
  font-family: 'Merriweather', serif;
}

h1 {
  font-family: 'Sacramento', cursive;
  margin-top: 0;
  font-size: 562.5%;
}

h2 {
  font-family: 'Montserrat', sans-serif;
}

h3 {
  font-family: 'Montserrat', sans-serif;
}

.top {
  background-color: #E4F9F5;
  padding-top: 100px;
  position: relative;
}

.middle-container {

}

.bottom-container {

}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}

.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}
